// ==========================================================================
// Main author styles
// ==========================================================================

// Utility class to make sure major content sections are the same max-width.
.wrapper {
	margin: 0 auto;
	max-width: $site--max-width; // variables/variables.scss
}


.main {
	position: relative;
	margin: 61px auto 0;
	padding: 0;
	max-width: $site--max-width;

	@media screen and (max-width: 768px) {
		margin-top: 15px;
	}
}
.primary {
	// margin-left: 32%; (Will need a side nav maybe)
}
.section {
	margin-bottom: em(30);
	padding: 0 em(20) em(20);
	background: #fff;
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

// Demo section
.preview {
	@extend .clearfix;
	margin: 0 -20px;
	padding: 20px;
	border-top: 1px solid $gravy-gray;
	border-bottom: 1px solid $gravy-gray;
	background: $ultra-light-gray;
}
.preview__row {
	margin-top: 10px;

	&:first-of-type {
		margin-top: 0;
	}
}
.preview .wpcom-logo {
	$size: 50px;

	color: $base-lighter-blue;
	width: $size;
	height: $size;

	&:after {
		font-size: $size;
	}
}

// Title styles
.page__title {
	margin: 0 em(14,24) em(20,24) -1px;
	font-size: em(24);
	font-weight: 300;
	line-height: 1;
}
.section__title {
	margin: 32px 0 0;
	font: 700 1.9375em/1.318 $merriweather; // 31/16
}

// Pre styling
.code-block {
	margin: 0 em(-20,14) em(-20,14);
	padding: em(20,14);
	color: #666;
	font-size: em(14);
}



// Color Page A
.color {
	padding: 20px;
	color: #fff;

	// Base Blues
	&.base-lighter-blue {
		background: $base-lighter-blue;
	}
	&.base-darker-blue {
		background: $base-darker-blue;
	}

	// Complimentary Blues
	&.light-blue {
		background: $light-blue;
	}
	&.nkotb-blue {
		background: $nkotb-blue;
	}
	&.midnight-blue {
		background: $midnight-blue;
	}

	// Oranges
	&.jazzy-orange {
		background: $jazzy-orange;
	}
	&.fire-orange {
		background: $fire-orange;
	}

	// Greys
	&[class*="gray"] {
		color: #333;
	}
	&.ultra-light-gray {
		background: $ultra-light-gray;
	}
	&.light-gray {
		background: $light-gray;
	}
	&.gravy-gray {
		background: $gravy-gray;
	}
	&.shadow-gray {
		background: $shadow-gray;
	}
	&.coal-gray {
		background: $coal-gray;
	}

	// Validation and Alerts
	&.alert-red {
		background: $alert-red;
	}
	&.alert-green {
		background: $alert-green;
	}
	&.alert-yellow {
		color: #333;
		background: $alert-yellow;
	}


	h3 {
		margin-top: 0;
	}
	span {
		display: block;
	}
}

// Color Page B
.colors {
	// background: #222;

	h1,
	h2 {
		text-align: center;
	}
	.main {
		max-width: 100%;
	}
	.section,
	.section--light {
		// margin: 0;
		padding: 10px;
		// color: $gravy-gray;
		// background: $coal-gray;
		background: transparent;
		box-shadow: none;

		&:nth-of-type(even) {
			background: $ultra-light-gray;
		}
	}
	.section--light {
		margin: 60px auto;
		padding: em(35) em(20) em(5);
		max-width: 620px;
		background: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,0.075);

		&:first-of-type {
			margin: 180px auto;
			background: transparent;
			box-shadow: none;
		}

		.section__title {
			padding: 0px 15px 10px;
		}
	}
	// .section__information {
	// 	margin: 0;
	// 	padding: 0;
	// 	color: #333;
	// 	background: $gravy-gray;
	// 	overflow: hidden;
	// }
	.section__information {
		margin: 0px auto 60px;
		max-width: 620px;
	}
	.section__title {
		margin: 0;
		padding: 60px 15px 10px;
		// font-family: $open-sans;
		// font-weight: 700;
		// font-size: 20px;
		// text-align: center;
		// text-transform: uppercase;
	}
	.colors-navigation {
		font-size: 0;
		text-align: center;
		// background: lighten($coal-gray, 5%);
		background: $gravy-gray;
	}
	.colors-navigation__link {
		display: inline-block;
		padding: 10px;
		// background: darken($coal-gray, 15%);

		&:nth-child(even) {
			// background: darken($coal-gray, 10%);
		}
		&:hover {
			background: lighten($coal-gray, 5%);
			background: #222;
		}
	}
	.color {
		display: inline-block;
		// margin: 0 2px;
		padding: 0;
		width: 20px;
		height: 20px;
	}
	.preview {
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
		text-align: center;

		.color {
			vertical-align: top;
			position: relative;
			margin: 0 3px 10px;
			min-height: 600px;
			width: 240px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.075);

			&:first-of-type {
				margin-left: 0;
			}

			&:nth-of-type(odd):last-of-type {
				// width: 100%;
			}
			@media (max-height: 700px) {
				min-height: 500px;
			}
		}
	}
	.color__information {
		$margin: 0;

		position: absolute;
		bottom: $margin;
		left: $margin;
		right: $margin;
		padding: 20px;
		color: #444;
		font-size: 14px;
		text-align: left;
		background: #fff;

		h3 {
			margin: 0;
			font-size: 14px;
		}
	}
	.color__description { // fix this
		color: #888;
		font-size: 12px;
	}
	.color__screen,
	.color__print {
		margin: 10px 0 0;
	}
	.color__screen {
		font-family: $monospace;
		font-weight: normal;
	}
	.color__print {
		// margin: 10px 0 0;
	}
}