// ==========================================================================
// Main author styles
// ==========================================================================

// Utility class to make sure major content sections are the same max-width.
.wrapper {
	margin: 0 auto;
	max-width: $site--max-width;
}


.main {
	position: relative;
	margin: 61px auto 0;
	padding: 0;
	min-width: 320px;
	max-width: 960px;

	@media screen and (max-width: 768px) {
		margin-top: 15px;
	}
}
.primary {
	// margin-left: 32%; (Will need a side nav maybe)
}
.section {
	margin-bottom: em(30);
	padding: 0 em(20) em(20);
	background: #fff;
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

// Demo section
.preview {
	@extend .clearfix;
	margin: 0 -20px;
	padding: 20px;
	border-top: 1px solid $gravy-gray;
	border-bottom: 1px solid $gravy-gray;
	background: $ultra-light-gray;
}
.preview__row {
	margin-top: 10px;

	&:first-of-type {
		margin-top: 0;
	}
}
.preview .wpcom-logo {
	$size: 50px;

	color: $base-lighter-blue;
	width: $size;
	height: $size;

	&:after {
		font-size: $size;
	}
}

// Title styles
.page__title {
	margin: 0 em(14,24) em(20,24) -1px;
	font-size: em(24);
	font-weight: 300;
	line-height: 1;
}
.section__title {
	margin: 32px 0 0;
	font: 700 1.9375em/1.318 $merriweather; // 31/16
}

// Pre styling
.code-block {
	margin: 0 em(-20,14) em(-20,14);
	padding: em(20,14);
	color: #666;
	font-size: em(14);
}



// Color Page
.color {
	padding: 20px;
	color: #fff;

	// Base Blues
	&.base-lighter-blue {
		background: $base-lighter-blue;
	}
	&.base-darker-blue {
		background: $base-darker-blue;
	}

	// Complimentary Blues
	&.light-blue {
		background: $light-blue;
	}
	&.nkotb-blue {
		background: $nkotb-blue;
	}
	&.midnight-blue {
		background: $midnight-blue;
	}

	// Oranges
	&.jazzy-orange {
		background: $jazzy-orange;
	}
	&.fire-orange {
		background: $fire-orange;
	}

	// Greys
	&[class*="gray"] {
		color: #333;
	}
	&.ultra-light-gray {
		background: $ultra-light-gray;
	}
	&.light-gray {
		background: $light-gray;
	}
	&.gravy-gray {
		background: $gravy-gray;
	}
	&.shadow-gray {
		background: $shadow-gray;
	}
	&.coal-grey { // See what I did there? ;)
		background: $coal-gray;
	}

	// Validation and Alerts
	&.alert-red {
		background: $alert-red;
	}
	&.alert-green {
		background: $alert-green;
	}
	&.alert-yellow {
		color: #333;
		background: $alert-yellow;
	}


	h3 {
		margin-top: 0;
	}
	span {
		display: block;
	}
}