// ==========================================================================
// COLORS
// ==========================================================================

// Base WordPress.com blues
$base-lighter-blue: #1e8cbe;
$base-darker-blue: #0074a2;

// Complementary blues
$light-blue: #78c8e6;
$new-kid-blue: #2ea2cc;
$midnight-blue: #005684;

// Oranges
$jazzy-orange: #f1831e;
$fire-orange: #d54e21;

// Greys
$ultra-light-grey: #f9f9f9;
$light-grey: #f1f1f1;
$gravy-grey: #e5e5e5;
$shadow-grey: #dfdfdf;
$coal-grey: #464646;