// ==========================================================================
// HAMBURGER (DRAWER) MENU
// 
// Based on Tim Pietrusky's Off Canvas menu:
// http://codepen.io/TimPietrusky/pen/CLIsl
//
// Refer to hamburger.kit as an example for quick setup.
//
// SETUP:
// 1. Copy the input and following label from hamburger.kit and paste them
//    above your menu.
//    [lines 5-6 of hamburger.kit]
// 2. Add the class .nav-off-canvas to the menu container (nav or div).
//    [line 8 of hamburger.kit]
// 3. Add the class .site-content__wrapper to the element containing all elements on the
//    website below the menu.
//    [line 32 of hamburger.kit]
// ==========================================================================


// Main content goes in this container to behave properly on small screens
.site-content__wrapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
// Advanced Checkbox Hack 
.checkbox-off-canvas {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.label-off-canvas {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	color: #fff;
	font: 30px/44px $sans; // Change to Dashicon?
	cursor: pointer;
	user-select: none;
	z-index: 10001;

	&:after {
		content:"\2261";
		display: block;
		width: 44px;
		text-align: center;
	}
}

// iPad and smaller
@media screen and (max-width: 768px) {
	$menu_width: 260px;

	.site-content__wrapper {
		position: fixed;
		top: 46px;
		left: 0;
		bottom: 0;
		padding: 0 10px;
	}
	.nav-off-canvas,
	.site-content__wrapper {
		transition: all .3s ease-in-out;
		transform: translate3d(0px, 0px, 0px);
	}
	.nav-off-canvas {
		position: fixed;
		top: 46px;
		bottom: 0;
		right: -$menu_width;
		width: $menu_width;
		overflow: scroll;

		ul {
			margin: 0;
			padding: 0;
			width: 100%;

			> li {
				width: 100%;
			}
		}
		li {
			float: none;
			width: 100%;

			> ul {
				position: static;
				display: block;
				width: $menu_width;
			}
		}
		a,
		a:hover,
		a:visited {
			display: block;
			width: 100%;
		}
	}
	.label-off-canvas {
		display: block;
	}
	.checkbox-off-canvas:checked ~ .label-off-canvas {
		color: #fff;
	}
	.checkbox-off-canvas:checked ~ .wpcom-header .nav-off-canvas,
	.checkbox-off-canvas:checked ~ .site-content__wrapper {
		transform: translate3d(-$menu-width, 0px, 0px);
	}
}