// ==========================================================================
// Avatars
// ==========================================================================

.avatar {
	float: left;
	margin-right: 15px;
}
.avatar--rounded {
	@extend .avatar;

	img {
		border-radius: 50%;
	}
}