// Below, you can choose from either using global form styles or class-driven
// form styles. By default, the global styles are on.

%form {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

%form-field {
	// margin-bottom: 20px;
	margin: 0;
	padding: 10px 12px;
	width: 100%;
	color: #555;
	font-size: 15px;
	line-height: 1.4;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
	transition: all .15s ease-in-out;

	&::placeholder {  
		color: #aaa;
	}

	&:hover {
		border-color: #aaa;
		background: #fff;

		&::placeholder {  
			color: #888;
		}
	}
	&:focus {
		color: #5c6671;
		border-color: #1e8cbe;
		background: #fff;
		outline: none;
		box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);

		&::placeholder {
			color: #888;
		}
	}
}
%textarea {
	min-height: em(84,15);
}

// ==========================================================================
// Global form elements
// ==========================================================================

form {
	@extend %form;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	@extend %form-field;
}
textarea {
	@extend %textarea;
}