// Blues
$wordpress-blue:         #0085be;
$light-blue:             #78dcfa;
$medium-blue:            #00aadc;
$dark-blue:              #005082;

// Grays
$gray:                   #87a6bc;

// $gray functions
// lighten: 10, 20, 30
// darken: 10, 20, 30
// See wordpress.com/design-handbook/colors/ for examples.

$gray-light:             lighten($gray, 33%); //#f3f6f8
$gray-dark:              darken($gray, 38%); //#2e4453

$text-gray:              $gray-dark;

// Oranges
$fire-orange:            #d54e21;
$jazzy-orange:           #f0821e;

// Alerts
$alert-yellow:           #f0b849;
$alert-red:              #d94f4f;
$alert-green:            #4ab866;

// Essentials
$white:                  rgba(255,255,255,1);
$transparent:            rgba(255,255,255,0);

// Depreciated Colors
$ultra-light-gray:       #f4f8fa;
$light-gray:             #e8f0f5;
$medium-gray:            #d2dee6;
$dark-gray:              #324155;
$ultra-light-light-gray: lighten($ultra-light-gray, 2%);
$medium-gray-light:      lighten($medium-gray, 30%);
$medium-gray-dark:       darken($medium-gray, 30%);
$dark-gray-light:        lighten($dark-gray, 5%);
$ultra-dark-gray: 	 	   rgb(30, 45, 65);

$medium-gray-darker:     darken($medium-gray, 10%);
$medium-gray-darkerer:   darken($medium-gray, 20%);