// ==========================================================================
// SITE LAYOUT
// All the metrics and basic styling to make the layout
// ==========================================================================



// Styles

body {
	margin: 0;
}

.site-content {
	position: absolute;
	width: 100%;
	height: 100%;
	//padding-top: $masterbar-height;
}

.main-navigation {
	position: fixed;
		top: 0;
		left: 0;
	width: $sidebar-width;
	padding-top: $header-height + 1.75em;
	overflow: auto;
	min-height: 100%;
	background: $wordpress-blue;
	box-shadow: inset -0.296em 0 0 rgba($dark-blue, 0.2);
	z-index: 200;
}

.site-main {
	margin-left: $sidebar-width;
	background: $ultra-light-gray;
	min-height: 100%;
}

.page, 
.page-links {
	padding: 1.75em 8.859em;
	max-width: 52em; 
	margin: auto;
}

.page {
	.page-header {
		@extend %negative-margins;
		margin-bottom: 2.25em;
		padding-bottom: 3.375em;
		border-bottom: 1px solid rgba($medium-gray,.5);
		h1, p {
			margin: 0;
		}
	}
	.wide {
		@extend %negative-margins;		
		background: white;
		border-radius: 3px;
		box-shadow: 0 1px 2px $light-gray;
	}
}