// Color definitions

.wpcom-blue { background-color: $wordpress-blue; }
.light-blue { background-color: $light-blue; }
.medium-blue { background-color: $medium-blue; }
.dark-blue { background-color: $dark-blue; }
.ultra-light-gray { background-color: $ultra-light-gray; }
.light-gray { background-color: $light-gray; }
.medium-gray { background-color: $medium-gray; }
.dark-gray { background-color: $dark-gray; }
.fire-orange { background-color: $fire-orange; }
.jazzy-orange { background-color: $jazzy-orange; }
.valid-green { background-color: $alert-green; }
.warning-yellow { background-color: $alert-yellow; }
.error-red { background-color: $alert-red; }



// Color Swatch

.swatches {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.swatch {
		width: 100%;
		height: 300px;
		position: relative;
		float: left;
		margin: 20px 0;
		border: 1px solid rgba(0,0,0,0.05);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
		ul {
			position: absolute;
			bottom: -1px;
			left: -1px;
			right: -1px;
			background: white;
			margin: 0;
			padding: 20px;
			font-size: 0.8rem;
			list-style: none;
		}
		li {
			padding: 3px 0;
			line-height: 1;
			font-family: monospace;
			color: rgba(0,0,0,0.6);
		}
		strong {
			font-size: 1rem;
			display: block;
			margin-bottom: 8px;
			font-family: $sans;
			color: rgba(0,0,0,0.8);
		}
		small {
			font-size: 0.6rem;
			opacity: 0.7;
			display: block;
			margin-top: -8px;
			margin-bottom: 8px;
			font-family: $sans;
		}
	}

	@media screen and ( min-width: 800px ) {
		.swatch {
			margin: 0 1%;
		}
		&.col-1 .swatch { width: 96%; }
		&.col-2 .swatch { width: 48%; }
		&.col-3 .swatch { width: 31.33%; }
		&.col-4 .swatch { width: 23%; }
	}
}