// Color definitions

.wpcom-blue 		 { background-color: $blue-wordpress; }
.light-blue 		 { background-color: $blue-light; }
.medium-blue 		 { background-color: $blue-medium; }
.dark-blue 			 { background-color: $blue-dark; }
.gray 					 { background-color: $gray; }
.gray-light 		 { background-color: $gray-light; }
.gray-lighten-30 { background-color: lighten( $gray, 30); }
.gray-lighten-20 { background-color: lighten( $gray, 20); }
.gray-lighten-10 { background-color: lighten( $gray, 10); }
.gray-darken-10  { background-color: darken( $gray, 10); }
.gray-darken-20  { background-color: darken( $gray, 20); }
.gray-darken-30	 { background-color: darken( $gray, 30); }
.gray-dark 	     { background-color: $gray-dark; }
.fire-orange 		 { background-color: $orange-fire; }
.jazzy-orange 	 { background-color: $orange-jazzy; }
.valid-green 		 { background-color: $alert-green; }
.warning-yellow  { background-color: $alert-yellow; }
.error-red 			 { background-color: $alert-red; }

// Color Swatch

.swatches {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.swatch {
		width: 100%;
		min-width: 170px;
		height: 360px;
		position: relative;
		float: left;
		border: 1px solid rgba(0,0,0,0.05);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
		
		.swatch-details {
			position: absolute;
			bottom: -1px;
			left: -1px;
			right: -1px;
			background: white;
			margin: 0;
			padding: 20px;
			font-size: 0.9rem;
			list-style: none;
			
			// Text contrast check icons
			.contrast-check {
				color: lighten( $gray, 10);
				float: right;
				margin-top: 4px;
				
				&:hover:after {
					border-color: $gray;
					background-color: $gray;
					color: white;
				}
			}

			.noticon-fonts:after { 
				content: "\f8b5";
				margin-left: 5px;
				border: 1px solid lighten( $gray, 20);
				border-radius: 50%;
				padding: 4px;
			}
			.noticon-fonts:before { 
				content: none; 
			}
			
			.color-names {
				line-height: 1.4;

				dl {
					display: table-row;
					
					dt, dd {
						display: table-cell;
					}
					
					dt {
						color: darken( $gray, 30);
						font-size: 0.7rem;
						padding-right: 0.8em;
						text-align: right;
					}
					
					dd {
						color: darken( $gray, 20);
						font-family: monospace;
						margin: 0;
					}
				}
			}
		}

		h4 {
			font-size: 1rem;
			margin: 0 0 8px;
			font-family: $sans;
			color: $gray-dark;
		}
		small {
			font-size: 0.6rem;
			opacity: 0.7;
			display: block;
			margin-top: -8px;
			margin-bottom: 8px;
			font-family: $sans;
		}
	}
}
