// ==========================================================================
// ARTICLE HEADER
// The top of each page
// ==========================================================================



.page-header {

	h1 {
		font-size: $size-tera;
		line-height: 1.333;
		color: $blue-wordpress;
		@include breakpoint(phablet) {
			font-size: $size-alpha;
		}
	}
	p {
		font-family: $serif;
		font-size: $size-delta;
		font-weight: 300;
		text-rendering: optimizeLegibility;
		color: $gray;
		@include breakpoint(phablet) {
			font-size: $size-epsilon;
		}
	}
}
