// ==========================================================================
// Automatticons v?
// ==========================================================================

@font-face {
	font-family: 'automatticons';
	src: url('../fonts/automatticons/automatticons-regular-webfont-webfont.eot');
	src: url('../fonts/automatticons/automatticons-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/automatticons/automatticons-regular-webfont-webfont.woff') format('woff'),
		 url('../fonts/automatticons/automatticons-regular-webfont-webfont.ttf') format('truetype'),
		 url('../fonts/automatticons/automatticons-regular-webfont-webfont.svg#automatticonsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Variables if you want, but mostly for reference.

// $a11s-automattic: 'A';
// $a11s-code-poet: 'C';
// $a11s-facebook: 'F';
// $a11s-gravatar: 'G';
// $a11s-inferno: 'I'; // Not sure what this one is
// $a11s-jetpack: 'J';
// $a11s-akismet: 'K';
// $a11s-polldaddy: 'P';
// $a11s-shield: 's'; // VaultPress shield
// $a11s-vaultpress: 'V';
// $a11s-vaultpress-inverted: 'v';
// $a11s-wordpress: 'W';