// ==========================================================================
// Base icons rules
//
// Make sure you apply -webkit-font-smoothing: antialiased; to your icons
//
// ==========================================================================

.icon {
	&:before {
		display: inline-block;
		position: relative;
		top: em(3);
		margin-right: em(4);
		font-family: $icon; // Automatticons & Genericons
		font-weight: normal;
		font-size: 1.375em;
		-webkit-font-smoothing: antialiased;
	}
}

.wpcom-logo {
	$size: 32px;

	display: inline-block;
	position: relative;
	width: $size;
	height: $size;
	text-indent: -9999px;
	margin-right: 10px;

	&:after {
		content: 'W';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		font-size: $size;
		line-height: 1;
		font-family: $icon; // Automatticons & Genericons
		font-weight: normal;
		text-indent: 0;
		-webkit-font-smoothing: antialiased;
	}
}
// If you want to reuse/resize do something like:
// .foo.wpcom-logo {
// 	$size: 50px;

// 	color: $blue-light;
// 	width: $size;
// 	height: $size;

// 	&:after {
// 		font-size: $size;
// 	}
// }